.App {
  
  background-color: #FFF78A !important;
  
}
.height
{
  height:100vh;
}
.cardcolor
{
  background-color:#FFAD84 !important;
}
.btncolor
{
  /* background-color: #FFC47E !important; */
  background-color: #FFF78A !important;
}







